<h1>Projects#new</h1>
<p>Find me in app/views/projects/new.html.erb</p>


<form method="post" action="/projects" id="create_project">
<%= hidden_field_tag :authenticity_token, form_authenticity_token %>

<%# methods= get, post, etc  %>
<%# actions = carpeta donde se ejecutara el method %>

    <h2>creando un projecto en la BD</h2>

    <h2>nombre</h2>
        <input name= "nombre">

    <h2>descripcion</h2>
        <input name="descripcion">

    <h2>fecha comienzo</h2>
        <input type="date" name= "fecha_comienzo">

    <h2>fecha termino</h2>
        <input type="date" name= "fecha_termino">

    <h2>estado</h2>
    <select name= "estado">
        <option value="propuesta"> propuesta </option>
        <option value="En progreso"> en progreso </option>
        <option value="terminado"> terminado </option>
    </select>

    <input type="submit" value="envia">

</form>